/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

.flexslider {margin: 0 0 5px 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}

/* Clearfix for the .slides element */
.slides:after {display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1; padding: 0;}
.flex-viewport {height: 200px;}
.flexslider .slides { zoom: 1; }
/* Direction Nav */
.flex-direction-nav {width:100%;height:1px; position: absolute; top: 50%;margin-top:-40px;}
.flex-direction-nav a{ display: block; width: 40px; height: 80px; position: absolute; top: 50%;  z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; text-indent:-9999px;}
.flexslider:hover .flex-prev { opacity: 1; left: 0;}
.flexslider:hover .flex-next { opacity: 1; right: 0;}

/* Control Nav */
.flex-control-nav {width: 100%; height: 25px; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 20px; height: 5px; display: block; background:#D3D3D5; cursor: pointer; text-indent: -9999px;}
.flex-control-paging li a:hover { background:#663A9E; }
.flex-control-paging li a.flex-active { background:#663A9E; cursor: default; }
